<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="Homework" value="~/homework/" />
    <!-- 禁用 ASP.NET 文件监控，解决 FileSystemWatcher 阻塞 -->
    <add key="aspnet:DisableFileSystemWatcher" value="true" />
    <!-- 禁用自动重新编译 -->
    <add key="aspnet:EnableBatchCompilation" value="false" />
    <add key="Homework" value="~/homework/" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="EnableSimpleMembership" value="false" />
    <add key="AutoFormsAuthentication" value="false" />
  </appSettings>
  <connectionStrings>
    <!-- 
      请将下面192.168.1.7更改为你的数据库服务器名称或IP地址，这段中的learnsite更改为你创建的数据库名称和Zhou!12345更改为你的数据库密码：
     httpRuntime maxRequestLength - 控制ASP.NET层面的请求大小（单位：KB）
     requestLimits maxAllowedContentLength - 控制IIS层面的请求大小（单位：bytes）
     -->
    <remove name="SqlServer" />
    <add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=learnsite;uid=sa;pwd=YourStrong!Passw0rd;" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" optimizeCompilations="true" batch="false" numRecompilesBeforeAppRestart="256">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2048000" executionTimeout="300" enableVersionHeader="false" requestValidationMode="2.0" targetFramework="4.8" maxQueryStringLength="2048" maxUrlLength="4096" requestPathInvalidCharacters="" />
    <authentication mode="Windows" />
    <sessionState mode="InProc" timeout="720" cookieless="UseCookies" />
    <machineKey validation="SHA1" decryption="AES" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
    <pages controlRenderingCompatibilityVersion="4.8" clientIDMode="Predictable" validateRequest="false" enableEventValidation="true" viewStateEncryptionMode="Auto" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="4096" maxQueryString="2048" />
      </requestFiltering>
    </security>
    <staticContent>
      <!-- 移除可能存在的MIME类型设置 -->
      <remove fileExtension=".sb3" />
      <remove fileExtension=".py" />
      <remove fileExtension=".mpptx" />
      <remove fileExtension=".bin" />
      <remove fileExtension=".dms" />
      <remove fileExtension=".excalidraw" />
      <remove fileExtension=".pptist" />
      <remove fileExtension=".mxml" />
      <remove fileExtension=".km" />
      <!-- 添加新的MIME类型设置 -->
      <mimeMap fileExtension=".sb3" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".py" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".mpptx" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".bin" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dms" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".excalidraw" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".pptist" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".mxml" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".km" mimeType="application/octet-stream" />
    </staticContent>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>

</configuration>